<% include header %>
<style>
  td{
    padding : 5px 98px 5px 0px !important;
  }
  div{
  	padding : 5px 30px 5px 8px !important;
  	font-size : medium !important;
  }
</style>
<script type="text/javascript">

	$(document).ready(function(){
		changeCountry();
	});
	function changeCountry(){
		var countryID = $("#country").val();
		$.getJSON('/getCitiesByCountryID?CountryID=' + countryID , function(res){
			var cities = res.result;
			var cityList = "";
			cities.forEach(function(data){
				cityList += "<option value='" + data._id + "'> " + data.CityName + "</option>";
			})
			$("select#city").html(cityList);
			changeRestaurant();
		});
		
	}
	function changeCity(){
		changeRestaurant();
	}
	function changeRestaurantType(){
		changeRestaurant();
	}
	function changeRestaurant()
	{
		var countryID = $("#country").val();
		var cityID = $("#city").val();
		var restaurantTypeID = $("#restaurantType").val();
		var hours = $("input[name=hours]:checked").val();
		//alert("Hours : " + hours);
		//alert("Country : " + countryID + " City : " + cityID + " restaurantType : " + restaurantTypeID);
		$.getJSON('/getRestaurantByIDs?CountryID=' + countryID + '&CityID=' + cityID + '&RestaurantTypeID=' + restaurantTypeID + '&Hours=' + hours, function(res){
			var restaurants = res.result;
			var restaurantList = "";
			restaurants.forEach(function(data){
				restaurantList += "<option value='" + data._id + "'> " + data.Name + "</option>";
			})
			$("select#restaurant").html(restaurantList);
			fillMenus();
		});
		
	}
	function changeDishType(){
		fillMenus();
	}
	function fillMenus(){
		var restaurantID = $("#restaurant").val();
		var dishTypeID = $("#dishtype").val();
		//alert("Dish : " + dishTypeID + "<br/> Restaurant : " + restaurantID);
		$.getJSON('/getMenusByRestaurantID?RestaurantID=' + restaurantID + "&DishTypeID=" + dishTypeID, function(res){
			var menus = res.result;
			var menuList = "";
			menus.forEach(function(data){
				menuList += "<option value='" + data._id + "'> " + data.DishName + "</option>";
			})
			$("select#menu").html(menuList);
			getMenuDetails();
		});
	}
	function getMenuDetails(){
		var menuID = $("#menu").val();
		var restaurantID = $("#restaurant").val();
		var dishTypeID = $("#dishtype").val();
		if(menuID == null){
			$("#DishName").html("");
			$("#Ingredients").html("");
			$("#Details").html("");
			$("#Spices").html("");
			$("#price").html("");
		}else{
			$.getJSON('/getMenusByRestaurantID?RestaurantID=' + restaurantID + "&DishTypeID=" + dishTypeID, function(res){
				var menus = res.result;
				menus.forEach(function(data){
					if(data._id == menuID){
						//alert("Matched !!!");
						$("#DishName").html(data.DishName);
						$("#Ingredients").html(data.Ingredients);
						$("#Details").html(data.Details);
						$("#Spices").html(data.Spices);
						$("#price").html(data.Price);
						$("#PriceVal").val(data.Price); 
						/* pass as hidden to get value in postOrder() */
					}
				})
			});
		}
	}

</script>

<main>
	<div class="container">
		<div class="col-lg-12 col-md-12">

		<form action="/postOrder" method="post">
			
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-2">
					<b>Country </b> <br/>
					<select id="country" name="country" onchange="changeCountry()" required>
						<% countries.forEach(function(data){ %>
					    	<option value="<%= data._id %>"> <%= data.CountryName %> </option>
					    <%  }) %>
					</select>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2">
					<b>City </b><br/>
					<select id="city" name="city" onchange="changeCity()" required>
						<% cities.forEach(function(data){ %>
					    	<option value="<%= data._id %>"> <%= data.CityName %> </option>
					    <%  }) %>
					</select>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2">
					<b>Restaurant Type</b><br/>
					<select id="restaurantType" name="restaurantType" onchange="changeRestaurantType()" required>
						<% restaurantTypeList.forEach(function(data){ %>
					    	<option value="<%= data._id %>"> <%= data.Type %> </option>
					    <%  }) %>
					</select>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					</b><b>By 24 hours</b><br/>
					<input type="radio" name="hours" id="hours" value="y" onchange="changeRestaurant()"/>Yes  
					<input type="radio" name="hours" id="hours" value="n" onchange="changeRestaurant()"/>No
					<input type="radio" name="hours" id="hours" value="" onchange="changeRestaurant()" checked/>Both
				</div>
				
				
			</div>
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-2">
					<b>Restaurant </b><br/>
					<select id="restaurant" name="restaurant" onchange="fillMenus()" required>
						<% restaurantList.forEach(function(data){ %>
					    	<option value="<%= data._id %>"> <%= data.Name %> </option>
					    <%  }) %>
					</select>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2">
					<b>Dish Type </b><br/>
					<select id="dishtype" name="dishtype" onchange="changeDishType()" required>
						<% dishList.forEach(function(data){ %>
					    	<option value="<%= data._id %>"> <%= data.Type %> </option>
					    <%  }) %>
					</select>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2">
					<b>Menu </b><br/>
					<select id="menu" name="menu" required>
						<% menuList.forEach(function(data){ %>
					    	<option value="<%= data._id %>"> <%= data.DishName %> </option>
					    <%  }) %>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-2">
					<b>Quantity </b><br/>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2">
					<input type="number" name="qty" id="qty" required />
				</div>
			</div>
			<table>
				<input type="hidden" name="PriceVal" id="PriceVal" required/>
				<tr>
					<td><b>Dish Name </b></td>
					<td id="DishName" name="DishName"></td>
				</tr>
				<tr>
					<td><b>Ingredients </b></td>
					<td id="Ingredients" name="Ingredients"></td>
				</tr>
				<tr>
					<td><b>Details </b></td>
					<td id="Details" name="Details"></td>
				</tr>
				<tr>
					<td><b>Spices </b></td>
					<td id="Spices" name="Spices"></td>
				</tr>
				<tr>
					<td><b>Price </b></td>
					<td id="price" name="price" ></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" name="btnOrder" /></td>
				</tr>
			</table>
			
		</form>
		</div>
	</div>
</main>